@import "tailwindcss";

:root {
  --background: #f2f2f2;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-bmw-regular: var(--font-bmw-regular);
  --font-bmw-bold: var(--font-bmw-bold);
  --font-bmw-thin: var(--font-bmw-thin);
}

body {
  background: #f2f2f2;
  color: #171717;
  font-family: var(--font-bmw-regular), Arial, Helvetica, sans-serif;
}

/* Paragrafi con font Regular */
p {
  font-family: var(--font-bmw-regular), Arial, Helvetica, sans-serif;
  font-weight: 400;
}

/* Heading con font Bold */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-bmw-bold), Arial, Helvetica, sans-serif;
  font-weight: 700;
}
